.projectCard {
  position: relative;
  display: inline-block;

  white-space: normal;

  width: 400px;
  aspect-ratio: 2 / 3;

  border-radius: 50px;

  overflow: hidden;

  background-color: var(--theme-primary-darken-1-color);

  direction: ltr;

  header {
    .imageBackgroundContainer {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      aspect-ratio: 1;

      border-radius: 50px;

      background: linear-gradient(#050586, #0909EC);

      .imageContainer {
        position: relative;

        width: 80%;
        aspect-ratio: 1;
      }
    }

    h3 {
      padding: 20px 20px 10px 20px;

      font-weight: 500;
      font-size: 1.5rem;
    }
  }

  .contentContainer {
    p {
      padding: 0 20px;

      font-size: 1rem;

      color: rgba(#FFF, .6);
    }
  }

  .actionsContainer {
    position: absolute;

    top: 0;
    left: 0;

    z-index: 2;

    width: 100%;
    height: 100%;

    border: 0;

    cursor: pointer;

    .animatedArea {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      background-color: var(--theme-primary-color);

      .iconContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 150px;

        border-radius: 50%;

        background-color: #0000C3;
        color: #FFF;

        font-size: 4rem;

        &:hover {
          background-color: #FFF;
          color: var(--theme-primary-darken-2-color);
        }
      }
    }
  }
}

@media(max-width: 960px) {
  .projectCard {
    width: 380px;

    aspect-ratio: 3 / 4;
  }
}

@media (max-width: 600px) {
  .projectCard {
    padding-bottom: 40px;

    width: 280px;

    aspect-ratio: auto;
  }
}