@import "tailwindcss";

@theme inline {
  --color-primary: #0F0097;
  --color-primary-darken-1: #0a0068;

  --color-secondary: #002BFF;
}

body {
  scroll-behavior: smooth;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */