@import "tailwindcss";

@theme inline {
  --color-primary: #0F0097;
  --color-primary-darken-1: #0a0068;

  --color-secondary: #002BFF;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

main > section {
  div.section__content {
    border-radius: 0 0 80px 80px;

    header {
      margin-bottom: calc(var(--spacing) * 16);
    }
  }

  &:not(:first-child) > div.section__content {
    padding-top: calc(var(--spacing) * 40);
    padding-bottom: calc(var(--spacing) * 60);
  }
}
