section.generalSkillsSection {
  padding: 90px 0;

  > header {
    text-align: center;

    margin-bottom: 60px;

    h2 {
      padding: 0 10px;

      > span {
        &:first-of-type {
          font-size: 4rem;

          .highlight {
            color: var(--theme-primary-color);
          }
        }

        &:last-of-type {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  section.generalSkillsSection {
    > header {
      h2 {
        > span {
          &:first-of-type {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  section.generalSkillsSection {
    > header {
      h2 {
        > span {
          &:first-of-type {
            font-size: 2rem;
          }

          &:last-of-type {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
